{# templates/blogpost/delete.html.twig #}
{% extends 'layout.html.twig' %}

{% block headline %} <h1>Delete BlogPost</h1> {% endblock %}
{% block content %}
    {{ form(delete_form) }}

{% endblock %}
