{# templates/menu.html.twig #}
{% block sidebar %}
    <ul>
        <li><a href="{{ path('default') }}">Home</a></li>
        <li><a href="{{ path('blogPost_list') }}">List of BlogPosts</a></li>
        <li><a href="{{ path('blogPost_list_featured') }}">List of featured BlogPosts</a></li>
    </ul>
{% endblock %}

